body {
  font-family: sans-serif;
}

.container {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
}

.clock {
  width: 40%;
  float: right;
}

#date, #time {
  border: solid 1px black;
  border-radius: 4px;
  margin: 0 0 16px;
  line-height: 30px;
}

#second {
  font-size: 24px;
  margin: 32px 0;
}

fieldset {
  border: 1px dashed #aaa;
  border-radius: 4px;
  p {
    text-align: left;
    margin-left: 8px;
  }
}

.image {
  width: 60%;
  padding: 60px 0;
  float: left;
}

#note {
  font-size: 6px;
  color: #808080;
}
