.header {
  margin: 20px 0;
}

.container {
  width: 600px;
  margin: 10px auto 0;
  text-align: center;
  font-size: 14px;
}

.clock {
  width: 40%;
  // padding: 0 20px; これがあると幅がcontainerの33%にならないのでコメントアウト
  float: right;
}

#date, #time {
  padding: 0 auto 20px;
  margin: 10px auto 10px;
  border: solid 1px black;
  border-radius: 5px;
  line-height: 30px;
}

#second {
  font-size: 24px;
  margin: 50px 0;
}

fieldset {
  border: 1px dashed #aaa;
  border-radius: 5px;
  p {
    text-align: left;
    margin-left: 8px;
  }
}

.image {
  width: 60%;
  padding: 70px 0 70px;
  float: left;
}

#note {
  font-size: 6px;
  color: #808080;
}
